/*
 * Created Date: Tuesday July 31st 2018
 * Author: Michael Harrison
 * Last Modified: Friday August 31st 2018 3:24:14 pm
 * Modified By: Michael Harrison at <Mike@Southbanksoftware.com>
 */

@import "../../style/global_colors.scss";
@import "../../style/global_mixins.scss";
.topNavigationRoot {
  background-color: $navbar_background_blue;
  display: flex;
  flex-direction: row;
  padding-left: 40px;
  padding-right: 22px;
  align-items: center;
  min-height: 76px;
  max-height: 76px;
  padding-top: 21px;
  padding-bottom: 21px;
  .appLogo {
    width: 262px;
    height: 33px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    .docsLogo {
      width: 100px;
      height: 34px;
      margin-right: 10px;
    }
    .provendbLogo {
      width: 144px;
      height: 14px;
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .title {
    opacity: 0.75;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-right: 22px;
  }
  .leftButtons {
    float: left;
    display: flex;
    flex-direction: row;
    .homeLinks {
      display: flex;
      flex-direction: row;
      align-items: center;
      .link {
        opacity: 0.5;
        margin-right: 22px;
        font-size: 11px;
        font-weight: bold;
        height: 26.2px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white !important;
      }
      .link:hover {
        opacity: 1;
      }
    }
  }
  .rightButtons {
    float: right;
    margin-left: auto;
    .homeButtons {
      display: flex;
      flex-direction: row;
      justify-items: flex-end;
      align-items: center;
      svg {
        width: 15px;
        height: 15px;
        color: white;
        fill: white;
        opacity: 0.5;
        cursor: pointer;
      }
      svg:hover {
        opacity: 1;
      }
      .bp3-popover-wrapper {
        height: 12px;
      }
      .leftButton {
        margin-right: 15px;
        margin-bottom: 4px;
        margin-top: auto;
      }
      a.leftButton {
        margin-bottom: 0px;
      }
      a:focus {
        outline: none;
      }
      .sb-avatar {
        margin-right: 12px;
        min-width: 25px;
      }
      .emailAddress {
        color: white;
        opacity: 0.5;
        font-size: 11px;
        margin-bottom: 4px;
        margin-top: auto;
      }
      .button {
        margin-right: 22px;
      }
      .btnDescription {
        opacity: 0.5;
        font-family: Roboto;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: right;
        color: $white;
        margin-right: 20px;
      }
      .antdButton {
        @include Text-Style;
        width: 94px;
        height: 30px;
        border: solid 1px $white;
        background-color: unset;
      }
      .loginButton {
        border: none;
        opacity: 0.5;
      }
      .loginButton:hover {
        opacity: 1;
      }
      .vr {
        margin-right: 10px;
        margin-top: 4px;
        height: 12px;
      }
    }
  }
  .vr {
    border-right: 1px solid rgba(256, 256, 256, 0.5);
    height: 14px;
    margin-right: 20px;
  }
}

.topNavigationRoot.home {
  padding-left: 7%;
  padding-right: 7%;
  margin-bottom: 0px;
}