<!-- client/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta
  name="description"
  content="With ProvenDocs the integrity, ownership and creation date of your documents are reliably stored on the Blockchain."
/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
  <title>ProvenDocs</title>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://provendocs.com",
      "logo": "https://home.provendocs.com/logo.png",
      "name": "ProvenDocs",
      "sameAs": [
        "http://www.facebook.com/provendb",
        "https://twitter.com/provendb",
        "https://www.linkedin.com/company/provendb/",
        "https://www.youtube.com/channel/UCHU81AKOjYEEWE2bcmeF6hw"
      ]
    }
  </script>
<!-- Twitter universal website tag code -->
<script>
  !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
  },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
  a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
  // Insert Twitter Pixel ID and Standard Event data below
  twq('init','o1t3y');
  twq('track','PageView');
  </script>
  <!-- End Twitter universal website tag code -->
  <base href="<%= htmlWebpackPlugin.options.baseUrl %>" />
</head>

<body>
  <div id="root"></div>
  <!-- Dependencies -->
  <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.0/umd/react.production.min.js"></script>
  <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.0/umd/react-dom.production.min.js"></script>
  <script src="https://cdn.rawgit.com/progers/pathseg/master/pathseg.js"></script>
</body>

</html>