// Colors by description.
$flat-blue: #2f79a3;
$brownish-grey: #707070;
$dark-grey-blue: #314a57;
$dark-sky-blue: #33b9e7;
$very-light-pink: #f3f3f3;
$azure: #31b2d4;
$dusk_blue: #225f88;
$dusk_blue_two: #1e557b;
$dusk_blue_three: rgb(34, 100, 144);
$dusk_blue_four: #246589;
$pale-red: #df594a;
$reddish: #d34836;
$dark-coral: #cc4f46;
$dull-red: #ba4542;
$faded-red: #cc4b4c;
$steel-grey: #81858a;
$blue-grey: #808495;
$cool-grey: #95a5a5;
$dark-grey-blue-two: #293e47;
$dark: #1f2f35;
$dark-two: #20272d;
$dark-slate-blue: #1a4c68;
$dusky-blue: #475993;
$azure: #0096e6;
$greeny-blue: #45b39c;
$blue-green: #14a085;
$light-mustard: #ffd05b;
$pale-gold: #fada6f;
$dark-gold: #ccb157;
$tan: #dbb35e;
$purple-brown: #693642;
$tealish: #35b3d4;
$tealish-two: #2ba6c7;
$gunmetal: #4d4f5c;
$purple: #9852b6;
$white: #ffffff;
$white-two: #dbdbdb;
$white-three: #f4f4f4;
// Colors by use
$main_background_blue: $flat_blue;
$navbar_background_blue: $dusk_blue_two;
$dashboard_panel_background: rgba(34, 100, 144, 0.45);
$dashboard_panel_background_strong: rgba(34, 100, 144, 0.6);
$primary_font_color: $white;
$secondary_font_color: $steel_grey;
$blue_font_color: $dusk_blue_two;
$background_teal: $tealish;
$grid_cell_hover: $dusk_blue;
$grid_cell_select: $dusk_blue;
$preview_pdf: $faded-red;
$text: $cool-grey;
$preview_xlsx: $blue-green;
$preview_doc: $azure;
$preview_code: $purple;
$preview_img: $tan;
//Popover Colors
$popover_background: $dark-two;
$popover_text: $white-two;
// Button Colors
$google_button_background: $reddish;
$google_button_background_hover: $dark-coral;
$google_button_background_press: $dull-red;
$github_button_background: $dark-grey-blue;
$github_button_background_hover: $dark-grey-blue-two;
$github_button_background_press: $dark;
$microsoft_button_background: $dark-grey-blue;
$facebook_button_background: $dusky-blue;
$email_button_background: $dusk-blue-two;
$white_button_background: $white;
$white_button_background_press: $white-two;
$white_button_font: $dusk-blue-two;
$blue_button_background: $dusk-blue-two;
$blue_button_background_hover: $dusk-blue-four;
$blue_button_background_press: $dark-slate-blue;