/*
 * Created Date: Tuesday August 28th 2018
 * Author: Michael Harrison
 * Last Modified: Friday August 31st 2018 3:24:14 pm
 * Modified By: Michael Harrison at <Mike@Southbanksoftware.com>
 */

@import "../../style/global_colors.scss";
.viewProof {
  background-color: $dashboard_panel_background;
  flex-grow: 1;
  width: 100%;
  border-radius: 0.5%;
  border-top-left-radius: 0px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  .contentWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    .header {
      align-self: flex-start;
      .documentTitle {
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: 0.9px;
        text-align: left;
        color: #ffffff;
      }
    }
    .body {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      border-radius: 0.0em;
      border-top-left-radius: 0;
      margin-bottom: 0px;
      justify-content: center;
      span.header {
        width: 100%;
        word-wrap: break-word;
      }
      span.rawProof {
        width: 100%;
        flex-grow: 1;
      }
      .finishedProofWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $dashboard_panel_background;
        flex-grow: 1;
        width: 100%;
        height: 100%;
        border-radius: 3.5%;
        border-top-left-radius: 0px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        .pdf {
          height: 100%;
          width: 100%;
          padding-top: 0px;
          overflow-y: scroll;
          #sidebar {
            display: none;
          }
          #page-container {
            position: relative;
            .pf {
              margin-top: 0px;
              .pc {
                padding: 0px;
                .bi {
                  margin-bottom: 8px;
                }
              }
            }
          }
        }
        .default {
          padding-top: 0px;
          overflow-y: scroll;
          align-self: flex-start;
          width: 100%;
          height: 100%;
          padding-bottom: 80px;
          div {
            height: 100%;
            pre {
              height: 100%;
            }
          }
        }
        .html {
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.5);
          overflow: scroll;
        }
        .png {
          img {
            object-fit: scale-down;
            max-width: 100%;
          }
        }
        .svg {
          width: 75%;
          height: 75%;
        }
      }
      .smallProofDiagramWrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        margin-top: 23px;
        .header {
          margin-bottom: 18px;
          font-size: 12px;
        }
        .subheader {
          margin-bottom: 21px;
          font-size: 12px;
          font-style: italic;
          display: flex;
          flex-direction: row;
          .infoIcon {
            margin-left: 10px;
            fill: white;
            width: 10px;
            height: 10px;
            opacity: 0.5;
          }
          .infoIcon:hover {
            opacity: 1;
          }
        }
        .diagram {
          margin-left: 14px;
          margin-right: 14px;
          .steps {
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: 15px;
            display: flex;
            flex-direction: row;
            align-content: space-between;
            justify-content: space-between;
            font-size: 12px;
          }
          .line {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 25px;
            padding-left: 40px;
            padding-right: 40px;
            svg {
              width: 20px;
              height: 20px;
              flex-grow: 1;
            }
            .hr {
              flex-grow: 10;
              border-bottom: 1px solid white;
              margin-bottom: 10px;
            }
            .emptyCircle {
              width: 18px;
              height: 18px;
              border-radius: 5em;
              border: 1px solid white;
              margin-left: 5px;
            }
          }
          .icons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .faded {
              opacity: 0.1;
            }
            span {
              font-size: 10px;
              width: 75%;
              text-align: center;
            }
            .document {
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 140px;
              svg {
                width: 29.1px;
                height: 36.8px;
                align-self: center;
                margin-bottom: 17px;
              }
            }
            .hash {
              width: 140px;
              display: flex;
              flex-direction: column;
              align-items: center;
              svg {
                width: 29.1px;
                height: 36.8px;
                align-self: center;
                margin-bottom: 17px;
              }
            }
            .blockchain {
              width: 140px;
              display: flex;
              flex-direction: column;
              align-items: center;
              svg {
                width: 29.1px;
                height: 36.8px;
                align-self: center;
                margin-bottom: 17px;
              }
            }
          }
        }
      }
    }
  }
}