/*
 * Created Date: Saturday September 29th 2018
 * Author: Michael Harrison
 * Last Modified: Wednesday October 3rd 2018 8:26:18 am
 * Modified By: Michael Harrison at <Mike@Southbanksoftware.com>
 */

@import "../../style/global_colors.scss";
.proofDiagramMiniWrapper {
  width: 100%;
  height: 100%;
  flex-grow: 4;
  overflow-y: scroll;
  padding-top: 20px;
  .diagramRow {
    width: 100%;
    min-height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    .rowLeft {
      display: flex;
      flex-direction: row;
      min-width: 150px;
      padding-top: 10px;
      svg {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
    .selector {
      .node {
        stroke: rgba(256, 256, 256, 0.5);
        fill: $dusk_blue_three;
      }
      .nodeInner {
        opacity: 0;
      }
      .whiteNode {
        opacity: 1;
        fill: $dusk_blue_three;
      }
      .whiteStroke {
        opacity: 1;
        stroke: rgba(256, 256, 256, 0.5);
        fill: $dusk_blue_three;
      }
      .blueNode {
        opacity: 1;
        fill: $dusk_blue_two;
      }
      .blueStroke {
        opacity: 1;
        stroke: $dusk_blue_two;
        fill: $dusk_blue_three;
        stroke-width: 2;
      }
      .redNode {
        opacity: 1;
        fill: $purple_brown;
      }
      .redStroke {
        opacity: 1;
        stroke-width: 2;
        stroke: $purple_brown;
        fill: $dusk_blue_three;
      }
      .hide_true {
        opacity: 0;
      }
    }
    .linkV,
    .linkH,
    .rowLinkV,
    .rowLink,
    .rowLinkH {
      stroke: rgba(256, 256, 256, 0.5);
    }
  }
  .hide_true {
    opacity: 0;
  }
}